<p id="notice"><%= notice %></p>

<p>
  <strong>Date purchased:</strong>
  <%= @purchased.date_purchased %>
</p>

<%= link_to 'Edit', edit_purchased_path(@purchased) %> |
<%= link_to 'Back', purchaseds_path %>
